<% if(user){ %>
  <div class="container">
    <center>
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="card-image">
                <img src="http://itkpi.pp.ua/images/2016/01/1453229201_c538744e3a764b3eaae872adba48666e.png">
                <span class="card-title"></span>
              </div>
              <div class="card-content">
                <p>Bienvenid@ <%= user.displayName %>!!! Se ha logueado correctamente.</p>
              </div>
              <div class="card-action">
                <a href="/inicio_gitbook" style="color: #006600;">Ir a Gitbook</a>
                <a href="/change_password" style="color: #006600;">Cambiar mi password</a>
		<a href="/borrar_cuenta" style="color: #006600;">Borrar mi cuenta</a>
                <a href="/logout" style="color: #006600;">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </center>
  </div>
<% } %>
